<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.ex00.mappers.MemberMapper">

    <insert id="insert">

        insert into tbl_member (uid, upw, uname, email)
        values ( #{uid}, #{upw}, #{uname}, #{email} )
    </insert>

    <insert id="insertAuth">
        insert into tbl_auth (roleName, uid) value (#{roleName}, #{uid})
    </insert>

    <resultMap id="memberMap" type="MemberVO">
        <id property="uid" column="uid" />
        <result property="uid" column="uid" />
        <result property="upw" column="upw" />
        <result property="uname" column="uname" />
        <result property="email" column="email" />
        <result property="regDate" column="regDate" />
        <result property="moDate" column="moDate" />
        <collection property="authVOList" resultMap="authMap" />
    </resultMap>

    <resultMap id="authMap" type="MemberAuthVO">
        <result property="roleName" column="roleName" />
        <result property="uid" column="uid" />
    </resultMap>

    <select id="select"  resultMap="memberMap">
        select *
        from
        tbl_member left outer join
        tbl_auth ta on tbl_member.uid = ta.uid
        where tbl_member.uid = #{uid}
    </select>

</mapper>


